* {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

html{
  font-size: 13vw;
}

@media (min-width: 750px) {
  html{
    font-size: 100px;
  }
}

body{
  font-size: 14px;
  font-family: 'Work Sans', 'Arial Narrow', Arial, sans-serif;
  max-width: 750px;
  margin: 0 auto;
  
}
