.reg-container {
  max-width: 300px;
  min-width: 300px;
  max-height: 600px;
  min-height: 600px;

  padding-top: 10px;

  margin: 100px auto;
  background-color: #559FB7;
  border-radius: 25px;
  color: white;
}

.reg-headerTitle {
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 1rem;
}

.reg-form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

}
