.button{
  background-color: yellow;
  color: #55b4b7;
  border-radius: 5px;

  margin-left: 20vh;
  margin-right: 20vh;
}

.submitbox{
  background-color: white;
  color: #55b4b7;
  border-radius: 5px;
}

