.ShopHome__container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.ShopHome__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShopHome-out{
  display: flex;
  justify-content: center;
  align-items: center;
}
