* {
  background-color: #55b4b7;

  font-size: 5vw;
  color: white;
}

.regheader {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
}

.reg-logo {
  display: flex;
  justify-content: center;
}

.phonecontainer{
  display: flex;
  justify-content:center;

}

.defaultzone{
  background-color: white;
  color: #55b4b7;
  border-radius: 5px;

}

.phone {
  background-color: white;
  color: #55b4b7;
  border-radius: 5px;

}

.next{
  background-color: yellow;
  color: #55b4b7;
  border-radius: 5px;

  margin-left: 20vh;
  margin-right: 20vh;
}