.Header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #515151;
  color: white;
  font-weight: 500;
  margin-bottom: 25px;
}

.Header__left {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.Header__right img {
  width: 55px;
  height: 55px;
}